@import "tailwindcss";

@theme{
    --font-Inter: "Inter" , "sans-serif";
    --font-bricolage: "Bricolage Grotesque","sans-serif";
    --shadow-btn:  0px 0px 1px 1px rgb(232,230,240);
    --shadow-box: 0px 20px 56px rgba(69,65,113,0.16);
    --shadow-box2: 0px 12px 48px rgba(69,65,113,0.16);
    --shadow-input : 0px 4px 4px rgba(0,0,0,0.25);
    --color-primery: #0D0C10;
    --breakpoint-lg-md : 52rem;
    --breakpoint-xs: 30rem;
} 

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("../Fonts/BricolageGrotesque10ptCondensed-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Inter";
    src: url("../Fonts/InterVariable.ttf") format("truetype");
}